.work {
  display: flex;
  flex-direction: column;
  &--button {
    margin-bottom: 2rem;
    align-self: flex-start;
    position: sticky;
    top: calc(4rem - 1px);
    z-index: 1;
  }
  &__redirect-button {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
  &__about {
    text-align: center;
  }
  &__picture {
    margin: 2rem auto 0 auto;
  }
  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    &__button {
      display: flex;
      align-items: center;
      color: #fff;
      .button__label {
        &--left {
          margin-left: 10px;
        }
        &--right {
          margin-right: 10px;
        }
      }
    }
  }
}

.arrow-icon {
  &--left {
    rotate: 180deg;
  }
}

.project {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  &__picture {
    width: 100%;
  }
  &__links {
    display: flex;
    &__button {
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
  &__title {
    font-size: 1.5rem;
    font-weight: 500;
  }
  >* {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
