<section class="work" *ngIf="!loading; else loadWrapper">
  <ng-container *ngIf="work; else notFound">
    <button [routerLink]="'/works'" class="button work--button">Back</button>
    <app-title [title]="work.name"></app-title>

    <ng-container *ngIf="work?.projects; else about">
      <div class="row">
        <div class="col-md-6" *ngFor="let project of work?.projects">
          <div class="project">
            <strong class="project__title">{{project.name}}</strong>
            <div class="project__about">{{project.about}}</div>
            <div class="project__links">
              <a class="button project__links__button" [href]="project?.link" target="_blank" *ngIf="project?.link">
                <img src="./assets/link.svg" alt="link-icon">
              </a>
              <a class="button project__links__button" [href]="project?.figmaLink" target="_blank" *ngIf="project?.figmaLink">
                <img src="./assets/figma.svg" alt="figma-icon">
              </a>
            </div>
            <img class="project__picture" [src]="'./assets/works/about/'+project.img" alt="work-picture">
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #about>
      <p [innerHTML]="work.about" class="work__about"></p>
      <div class="work__redirect-button">
        <a class="button"
           [attr.href]="work.link"
           target="_blank">{{work.linkText}}</a>
      </div>
      <img class="work__picture" [src]="'./assets/works/about/'+work.id+'.png'" alt="work-picture">
    </ng-template>

    <footer class="work__footer">
      <a class="button work__footer__button" [routerLink]="'/works/'+this.prevId">
        <img class="arrow-icon arrow-icon&#45;&#45;left" src="./assets/arrow-icon.svg" alt="arrow-icon">
        <span class="button__label button__label&#45;&#45;left">Previous project</span>
      </a>
      <a class="button work__footer__button" [routerLink]="'/works/'+this.nextId">
        <span class="button__label button__label&#45;&#45;right">Next project</span>
        <img src="./assets/arrow-icon.svg" alt="arrow-icon">
      </a>
    </footer>
  </ng-container>
</section>

<ng-template #loadWrapper>
  <app-loader></app-loader>
</ng-template>

<ng-template #notFound>
  <app-page-not-found [page]="'works'"></app-page-not-found>
</ng-template>
