<section class="about">
  <app-title [title]="'Hi, I\'m Kairat - frontend developer'"></app-title>
  <div class="about__content">
    <div class="experience">
      <app-header [title]="'experience'"></app-header>
      <div class="item" *ngFor="let exp of experience">
        <ng-container *ngTemplateOutlet="card; context: exp"></ng-container>
      </div>
    </div>
    <div class="education">
      <app-header [title]="'education'"></app-header>
      <div class="item" *ngFor="let edu of education">
        <ng-container *ngTemplateOutlet="card; context: edu"></ng-container>
      </div>
    </div>
    <div class="skills">
      <app-header [title]="'skills'"></app-header>
      <div class="item">
        <strong class="skills-list">{{skills}}</strong>
      </div>
    </div>
  </div>
</section>

<ng-template #card let-job="job" let-company="company" let-date="date" let-link="link">
  <h3 class="job">{{job}}</h3>
  <span class="date">{{date}} /
    <a [attr.href]="link" target="_blank">{{company}}</a>
  </span>
</ng-template>
