<header class="header">
  <div class="container header__container">
    <div class="logo">
      kdev
    </div>
    <nav class="nav">
      <ul class="menu">
        <li class="menu__item">
          <a class="menu__link" routerLink="about" routerLinkActive="menu__link--active">About</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" routerLink="works" routerLinkActive="menu__link--active">Works</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" routerLink="contacts" routerLinkActive="menu__link--active">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<main class="main" id="main">
  <div class="container main__container">
    <router-outlet></router-outlet>
  </div>
</main>
<footer class="footer">
  <div class="container">
    <p class="footer__text">© 2022 Kairat Batyrbayev</p>
    <app-to-top></app-to-top>
  </div>
</footer>
