<main class="main">
  <div class="container main__container">
    <header class="header">
      <div class="logo">
        kdev
      </div>
      <nav class="nav">
        <ul class="menu">
          <li class="menu__item">
            <a class="menu__link" routerLink="about" routerLinkActive="menu__link--active">About</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" routerLink="works" routerLinkActive="menu__link--active">Works</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" routerLink="contacts" routerLinkActive="menu__link--active">Contacts</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main__content">
      <router-outlet></router-outlet>
    </main>
    <footer class="footer">
      <p>© 2022 Kairat Batyrbayev</p>
    </footer>
  </div>
</main>
