<section class="works">
  <app-title title="My Works"></app-title>
  <div class="works__filter">
    <div class="type" *ngFor="let item of workTypeArray" (click)="selectType(item)" [class.type--active]="item.active">
      {{item.type}}
    </div>
  </div>
  <div class="works__content">
    <div class="row">
      <ng-container *ngFor="let work of works">
        <div *ngIf="work.isShow"
             class="col-lg-4 col-md-6 col-12">
          <app-work-card [work]="work"></app-work-card>
        </div>
      </ng-container>
    </div>
  </div>
</section>
