.works {
  display: flex;
  flex-direction: column;

  &__filter {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__content {
    padding-top: 2rem;

    .row {
      > div {
        margin-bottom: 1rem;
      }
    }
  }
}

