.works {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-filter {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .type {
      padding: 0.3rem 0.7rem;
      border-radius: 5px;
      font-size: 0.8rem;
      cursor: pointer;
      user-select: none;
      background: #c5c5c5;
      color: #131313;
      &.active {
        background: #131313;
        color: #c5c5c5;
      }
    }
  }

  &-content {
    padding-top: 2rem;
    margin: 0 auto;

    .row {
      > div {
        margin-bottom: 1rem;
      }
    }
  }
}

