.works {
  display: flex;
  flex-direction: column;

  &__filter {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .type {
      padding: 0.3rem 0.7rem;
      font-size: 0.8rem;
      cursor: pointer;
      user-select: none;
      background: #c5c5c5;
      color: #131313;
      font-weight: 600;

      &--active {
        background: #131313;
        color: #c5c5c5;
      }
    }
  }

  &__content {
    padding-top: 2rem;

    .row {
      > div {
        margin-bottom: 1rem;
      }
    }
  }
}

